@import "tailwindcss";

@font-face {
  font-family: 'pixel';
  src:
    url('/src/assets/fonts/VT323-Regular.ttf') format('truetype'),
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: 'pixel', sans-serif;
    background-color: cornsilk;
  }

  #root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    cursor: pointer;
    font-family: inherit;
  }
}

@layer components {
  .test {
    image-rendering: pixelated;
  }
}