@import "tailwindcss";

@font-face {
  font-family: 'pixel';
  src:
    url('/src/assets/fonts/VT323-Regular.ttf') format('truetype'),
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: 'pixel', sans-serif;
    line-height: 1;
    background-color: cornsilk;
  }

  #root {
    height: 100vh;
  }

  button {
    cursor: pointer;
    font-family: inherit;
  }
}

@layer components {
  .pixelated {
    image-rendering: pixelated;
  }

  .button {
    min-width: 140px;
    padding: 0.25rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;

    color: #ffffff;
    background-color: rgba(15, 23, 42, 0.7);
    border: 3px solid #38bdf8;
    border-radius: 4px;

    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }

  .button:hover {
    background-color: #38bdf8;
    color: #0f172a;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.6);
    transform: translateY(-2px);
  }

  .button:active {
    transform: translateY(0);
    box-shadow: 0 0 5px rgba(56, 189, 248, 0.8);
  }

  .transparent {
    background: none;
    border: none;
  }

  .jumping {
    animation: jump .5s ease-in-out;
    animation-delay: 500ms;
    transform-origin: bottom;
  }

  @keyframes jump {

    0%,
    100% {
      transform: translateY(0) scale(1, 1);
    }

    10% {
      transform: translateY(0) scale(1.15, 0.8);
    }

    40% {
      transform: translateY(-30px) scale(0.9, 1.2);
    }

    65% {
      transform: translateY(-35px) scale(1, 1);
    }

    85% {
      transform: translateY(0) scale(1.2, 0.75);
    }
  }

  .shake {
    animation: shake 0.4s ease-in-out;
    animation-delay: 500ms;
  }

  @keyframes shake {

    0%,
    100% {
      transform: translateX(0);
    }

    15% {
      transform: translateX(-10px);
    }

    30% {
      transform: translateX(8px);
    }

    45% {
      transform: translateX(-8px);
    }

    60% {
      transform: translateX(6px);
    }

    75% {
      transform: translateX(-4px);
    }

    90% {
      transform: translateX(2px);
    }
  }

  @keyframes floatDiagonal {
    0% {
      transform: translateY(0) translateX(0) rotate(45deg);
    }

    100% {
      transform: translateY(-130vh) translateX(20vw);
    }
  }

  .animate-float-diagonal {
    animation-name: floatDiagonal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}